version: "3.9"

services:
  web:
    build: .
    command: sh -c "python manage.py migrate && python manage.py runserver 0.0.0.0:8000"
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - rabbitmq
    # opcional para desenvolvimento (hot reload):
    # volumes:
    #   - .:/app

  celery:
    build: .
    command: celery -A core worker -l INFO
    env_file:
      - .env
    depends_on:
      - rabbitmq

  beat:
    build: .
    command: celery -A core beat -l INFO
    env_file:
      - .env
    depends_on:
      - rabbitmq

  rabbitmq:
    image: rabbitmq:3.13-management
    ports:
      - "5672:5672"   # broker (Celery)
      - "15672:15672" # painel web
    # opcional: nome fixo do container
    container_name: rabbitmq
